In [15]:
import numpy as np
import pandas as pd 
import glob

In [10]:
df=pd.read_csv("dataset/BTC/Bitcoin_7_9_2010-7_9_2011_historical_data_coinmarketcap.csv",sep=';')
df.columns

Index(['timeOpen', 'timeClose', 'timeHigh', 'timeLow', 'name', 'open', 'high',
       'low', 'close', 'volume', 'marketCap', 'timestamp'],
      dtype='object')

### Merging BTC files into a single file:

In [11]:

# Path to folder containing BTC CSV files
path = "dataset/BTC/"  # update if your folder name is different

# Get all CSV files
all_files = glob.glob(path + "*.csv")

# Read and concatenate all CSVs using ';' separator
df_list = [pd.read_csv(file, sep=';') for file in all_files]
merged_df = pd.concat(df_list, ignore_index=True)

# Remove any leading/trailing spaces in column names
merged_df.columns = merged_df.columns.str.strip()

# Convert 'timestamp' column to datetime
merged_df['timestamp'] = pd.to_datetime(merged_df['timestamp'])

# Sort data by timestamp
merged_df.sort_values('timestamp', inplace=True)

# Remove duplicates (optional but recommended)
merged_df.drop_duplicates(inplace=True)

# Save the final merged file
merged_df.to_csv("BTC_merged_2010_to_2025.csv", index=False)

print("✅ Merging complete! Saved as BTC_merged_2010_to_2025.csv")

✅ Merging complete! Saved as BTC_merged_2010_to_2025.csv

### Merging ETH files into a single file:

In [16]:


# Path to folder containing BTC CSV files
path = "dataset/ETH/"  # update if your folder name is different

# Get all CSV files
all_files = glob.glob(path + "*.csv")

# Read and concatenate all CSVs using ';' separator
df_list = [pd.read_csv(file, sep=';') for file in all_files]
merged_df = pd.concat(df_list, ignore_index=True)

# Remove any leading/trailing spaces in column names
merged_df.columns = merged_df.columns.str.strip()

# Convert 'timestamp' column to datetime
merged_df['timestamp'] = pd.to_datetime(merged_df['timestamp'])

# Sort data by timestamp
merged_df.sort_values('timestamp', inplace=True)

# Remove duplicates (optional but recommended)
merged_df.drop_duplicates(inplace=True)

# Save the final merged file
merged_df.to_csv("ETH_merged_2015_to_2025.csv", index=False)

print("✅ Merging complete!")

✅ Merging complete!

### Merging BNB files into a single file:

In [17]:

# Path to folder containing BTC CSV files
path = "dataset/BNB/"  # update if your folder name is different

# Get all CSV files
all_files = glob.glob(path + "*.csv")

# Read and concatenate all CSVs using ';' separator
df_list = [pd.read_csv(file, sep=';') for file in all_files]
merged_df = pd.concat(df_list, ignore_index=True)

# Remove any leading/trailing spaces in column names
merged_df.columns = merged_df.columns.str.strip()

# Convert 'timestamp' column to datetime
merged_df['timestamp'] = pd.to_datetime(merged_df['timestamp'])

# Sort data by timestamp
merged_df.sort_values('timestamp', inplace=True)

# Remove duplicates (optional but recommended)
merged_df.drop_duplicates(inplace=True)

# Save the final merged file
merged_df.to_csv("BNB_merged_2017_to_2025.csv", index=False)

print("✅ Merging complete!")

✅ Merging complete!

In [42]:
df_btc=pd.read_csv("BTC_merged_2010_to_2025.csv")
df_eth=pd.read_csv("ETH_merged_2015_to_2025.csv")

In [80]:
df_bnb=pd.read_csv("BNB_merged_2017_to_2025.csv")

In [45]:
df_btc

,timeOpen,timeClose,timeHigh,timeLow,name,open,high,low,close,volume,marketCap,timestamp
0,2010-07-14T00:00:00.000Z,2010-07-14T23:59:59.999Z,2010-07-14T00:34:00.000Z,2010-07-14T19:24:00.000Z,2781,0.058157,0.061588,0.048647,0.056402,2.615400e+02,1.902596e+05,2010-07-14 23:59:59.999000+00:00
1,2010-07-15T00:00:00.000Z,2010-07-15T23:59:59.999Z,2010-07-15T11:39:00.000Z,2010-07-15T00:41:00.000Z,2781,0.056403,0.067954,0.053969,0.057568,4.458000e+02,1.959821e+05,2010-07-15 23:59:59.999000+00:00
2,2010-07-16T00:00:00.000Z,2010-07-16T23:59:59.999Z,2010-07-16T02:11:00.000Z,2010-07-16T00:24:00.000Z,2781,0.058001,0.072220,0.057484,0.066492,4.972500e+02,2.280474e+05,2010-07-16 23:59:59.999000+00:00
3,2010-07-17T00:00:00.000Z,2010-07-17T23:59:59.999Z,2010-07-17T06:51:00.000Z,2010-07-17T16:21:00.000Z,2781,0.066500,0.077735,0.057418,0.065993,1.999000e+01,2.269048e+05,2010-07-17 23:59:59.999000+00:00
4,2010-07-18T00:00:00.000Z,2010-07-18T23:59:59.999Z,2010-07-18T17:38:00.000Z,2010-07-18T00:28:00.000Z,2781,0.066088,0.080858,0.064221,0.078814,7.513000e+01,2.716692e+05,2010-07-18 23:59:59.999000+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
5469,2025-07-04T00:00:00.000Z,2025-07-04T23:59:59.999Z,2025-07-04T01:36:00.000Z,2025-07-04T19:32:00.000Z,2781,109635.655197,109751.987456,107296.380030,108034.339050,4.261644e+10,2.148181e+12,2025-07-04 23:59:59.999000+00:00
5470,2025-07-05T00:00:00.000Z,2025-07-05T23:59:59.999Z,2025-07-05T04:31:00.000Z,2025-07-05T02:34:00.000Z,2781,108015.839226,108381.340161,107842.275057,108231.181990,3.061554e+10,2.152515e+12,2025-07-05 23:59:59.999000+00:00
5471,2025-07-06T00:00:00.000Z,2025-07-06T23:59:59.999Z,2025-07-06T21:32:00.000Z,2025-07-06T10:03:00.000Z,2781,108231.183833,109731.625945,107847.017159,109232.069735,3.674602e+10,2.172541e+12,2025-07-06 23:59:59.999000+00:00
5472,2025-07-07T00:00:00.000Z,2025-07-07T23:59:59.999Z,2025-07-07T03:28:00.000Z,2025-07-07T18:34:00.000Z,2781,109235.327990,109710.249827,107527.057210,108299.851088,4.541570e+10,2.153955e+12,2025-07-07 23:59:59.999000+00:00
5473,2025-07-08T00:00:00.000Z,2025-07-08T23:59:59.999Z,2025-07-08T13:47:00.000Z,2025-07-08T02:19:00.000Z,2781,108298.228975,109198.971616,107499.556468,108950.275543,4.428220e+10,2.166970e+12,2025-07-08 23:59:59.999000+00:00

In [46]:
df_btc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5474 entries, 0 to 5473
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timeOpen   5474 non-null   object
 1   timeClose  5474 non-null   object
 2   timeHigh   5474 non-null   object
 3   timeLow    5474 non-null   object
 4   name       5474 non-null   int64
 5   open       5474 non-null   float64
 6   high       5474 non-null   float64
 7   low        5474 non-null   float64
 8   close      5474 non-null   float64
 9   volume     5474 non-null   float64
 10  marketCap  5474 non-null   float64
 11  timestamp  5474 non-null   object
dtypes: float64(6), int64(1), object(5)
memory usage: 513.3+ KB

In [31]:
df_btc.isnull().sum()

timeOpen     0
timeClose    0
timeHigh     0
timeLow      0
name         0
open         0
high         0
low          0
close        0
volume       0
marketCap    0
timestamp    0
dtype: int64

In [32]:
df.dtypes

timeOpen      object
timeClose     object
timeHigh      object
timeLow       object
name           int64
open         float64
high         float64
low          float64
close        float64
volume       float64
marketCap    float64
timestamp     object
dtype: object

### For Btc Cleaning:

In [47]:
# Drop irrelevant columns
df_btc.drop(columns=['timeOpen', 'timeClose', 'timeHigh', 'timeLow', 'name'], inplace=True)

# Convert 'timestamp' to datetime
df_btc['timestamp'] = pd.to_datetime(df_btc['timestamp'])

# Sort by timestamp
df_btc.sort_values('timestamp', inplace=True)

# Remove timezone
df_btc['timestamp'] = df_btc['timestamp'].dt.tz_localize(None)

# Set timestamp as index and normalize
df_btc.set_index('timestamp', inplace=True)
df_btc.index = df_btc.index.normalize()

# Final cleaned DataFrame
df_btc_clean = df_btc.copy()

# Save to CSV
df_btc_clean.to_csv("BTC_cleaned.csv")

print("✅  data cleaned and saved")

✅ BTC data cleaned and saved as BTC_cleaned.csv

### For Eth Cleaning:

In [61]:
# Drop irrelevant columns
df_eth.drop(columns=['timeOpen', 'timeClose', 'timeHigh', 'timeLow', 'name'], inplace=True)

# Convert 'timestamp' to datetime
df_eth['timestamp'] = pd.to_datetime(df_eth['timestamp'])

# Sort by timestamp
df_eth.sort_values('timestamp', inplace=True)

# Remove timezone
df_eth['timestamp'] = df_eth['timestamp'].dt.tz_localize(None)

# Set timestamp as index and normalize
df_eth.set_index('timestamp', inplace=True)
df_eth.index = df_eth.index.normalize()

# Final cleaned DataFrame
df_eth_clean = df_eth.copy()

# Save to CSV
df_eth_clean.to_csv("ETH_cleaned.csv")

print("✅ data cleaned and saved")

✅  data cleaned and saved

### For Bnb Cleaning:

In [81]:
# Drop irrelevant columns
df_bnb.drop(columns=['timeOpen', 'timeClose', 'timeHigh', 'timeLow', 'name'], inplace=True)

# Convert 'timestamp' to datetime
df_bnb['timestamp'] = pd.to_datetime(df_bnb['timestamp'])

# Sort by timestamp
df_bnb.sort_values('timestamp', inplace=True)

# Remove timezone
df_bnb['timestamp'] = df_bnb['timestamp'].dt.tz_localize(None)

# Set timestamp as index and normalize
df_bnb.set_index('timestamp', inplace=True)
df_bnb.index = df_bnb.index.normalize()

# Final cleaned DataFrame
df_bnb_clean = df_bnb.copy()

# Save to CSV
df_bnb_clean.to_csv("BNB_cleaned.csv")

print("✅ BNB data cleaned and saved as BNB_cleaned.csv")

✅ BNB data cleaned and saved as BNB_cleaned.csv

In [82]:
df_bnb_clean

,open,high,low,close,volume,marketCap
timestamp,,,,,,
2017-07-26,0.105893,0.109013,0.099266,0.105138,2.003950e+05,1.051380e+07
2017-07-27,0.105108,0.108479,0.100888,0.107737,3.444990e+05,1.077370e+07
2017-07-28,0.107632,0.109019,0.101473,0.104067,3.425680e+05,1.040670e+07
2017-07-29,0.104782,0.111264,0.101108,0.107811,3.402180e+05,1.078110e+07
2017-07-30,0.107935,0.108138,0.103162,0.106414,2.242610e+05,1.064140e+07
...,...,...,...,...,...,...
2025-07-04,663.323133,664.061973,650.711847,653.739489,1.379814e+09,9.210225e+10
2025-07-05,653.739489,656.661884,652.340154,656.142898,1.193229e+09,9.244082e+10
2025-07-06,656.142966,664.627359,653.873653,663.088984,1.387601e+09,9.341939e+10
2025-07-07,663.088984,663.228327,657.106093,661.018184,1.524912e+09,9.312760e+10
2025-07-08,661.018085,662.497420,657.565092,660.762895,1.517608e+09,9.309162e+10

In [83]:
pd.read_csv("BNB_cleaned.csv")

,timestamp,open,high,low,close,volume,marketCap
0,2017-07-26,0.105893,0.109013,0.099266,0.105138,2.003950e+05,1.051380e+07
1,2017-07-27,0.105108,0.108479,0.100888,0.107737,3.444990e+05,1.077370e+07
2,2017-07-28,0.107632,0.109019,0.101473,0.104067,3.425680e+05,1.040670e+07
3,2017-07-29,0.104782,0.111264,0.101108,0.107811,3.402180e+05,1.078110e+07
4,2017-07-30,0.107935,0.108138,0.103162,0.106414,2.242610e+05,1.064140e+07
...,...,...,...,...,...,...,...
2900,2025-07-04,663.323133,664.061973,650.711847,653.739489,1.379814e+09,9.210225e+10
2901,2025-07-05,653.739489,656.661884,652.340154,656.142898,1.193229e+09,9.244082e+10
2902,2025-07-06,656.142966,664.627359,653.873653,663.088984,1.387601e+09,9.341939e+10
2903,2025-07-07,663.088984,663.228327,657.106093,661.018184,1.524912e+09,9.312760e+10
2904,2025-07-08,661.018085,662.497420,657.565092,660.762895,1.517608e+09,9.309162e+10

In [3]:
df_news=pd.read_csv("dataset/News/news_currencies_source_joinedResult.csv")

In [19]:
df_news

,id,title,description,sourceId,sourceDomain,sourceUrl,newsDatetime,url,negative,positive,important,liked,disliked,lol,toxic,saved,comments,currencies
0,873,ApeCoin Community Votes to Stay on Ethereum,NaN,2,u.today,NaN,2022-06-09 06:57:15,https://cryptopanic.com/news/15444990/ApeCoin-...,0,0,0,0,0,0,0,0,0,"ETH,APE"
1,875,Terraform Labs Co-Founder Denies Accusations o...,NaN,2,u.today,NaN,2022-06-09 06:03:33,https://cryptopanic.com/news/15443520/Terrafor...,0,0,0,1,0,0,0,0,0,NaN
2,876,Anchor dev claims he warned Do Kwon over unsus...,NaN,7,cointelegraph.com,NaN,2022-06-09 05:39:22,https://cryptopanic.com/news/15442676/Anchor-d...,1,0,1,0,0,0,0,0,0,LUNC
3,877,"With 12 Key Measures of Prices, Truflation’s R...",NaN,11,newsbtc.com,NaN,2022-06-09 05:32:52,https://cryptopanic.com/news/15442724/With-12-...,0,0,0,0,0,0,0,0,0,XCN
4,878,'Father' of the Metaverse Neal Stephenson laun...,NaN,7,cointelegraph.com,NaN,2022-06-09 05:28:31,https://cryptopanic.com/news/15442350/Father-o...,0,1,0,2,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216453,226195,3 New International Stablecoins are Launching ...,NaN,9,beincrypto.com,NaN,2025-05-22 18:07:39,https://cryptopanic.com/news/22016238/3-New-In...,0,0,0,0,0,0,0,0,0,"XRP,USDB"
216454,226196,XRP News: Braza Group To Launch USDB Dollar-Ba...,NaN,139,coingape.com,NaN,2025-05-22 17:40:51,https://cryptopanic.com/news/22013949/XRP-News...,0,0,0,1,0,0,0,0,0,"XRP,USDB"
216455,226197,Bridge launches USDB stablecoin tailored for d...,NaN,190,cointrackdaily.com,NaN,2025-05-09 02:41:58,https://cryptopanic.com/news/21670773/Bridge-l...,0,0,0,0,0,0,0,0,0,USDB
216456,226198,"Stocks Slip As Gold Rebounds To $3,330, Bitcoi...",NaN,125,feeds2.benzinga.com,NaN,2025-05-09 17:44:16,https://cryptopanic.com/news/21688239/Stocks-S...,0,0,0,0,0,0,0,0,0,"BTC,TRUMP,S,SATS,DIA,TKO"
216457,226199,EchoStar Corporation (SATS) Reports Mixed Firs...,NaN,128,tokenist.com,NaN,2025-05-09 10:43:49,https://cryptopanic.com/news/21679159/EchoStar...,0,0,0,0,0,0,0,0,0,SATS

In [20]:
df_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216458 entries, 0 to 216457
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            216458 non-null  int64
 1   title         216457 non-null  object
 2   description   24424 non-null   object
 3   sourceId      216458 non-null  int64
 4   sourceDomain  216458 non-null  object
 5   sourceUrl     24258 non-null   object
 6   newsDatetime  216458 non-null  object
 7   url           216458 non-null  object
 8   negative      216458 non-null  int64
 9   positive      216458 non-null  int64
 10  important     216458 non-null  int64
 11  liked         216458 non-null  int64
 12  disliked      216458 non-null  int64
 13  lol           216458 non-null  int64
 14  toxic         216458 non-null  int64
 15  saved         216458 non-null  int64
 16  comments      216458 non-null  int64
 17  currencies    215499 non-null  object
dtypes: int64(11), object(7)
memory usage: 29.7+ MB

### Cleaning and calculating sentiment score of News Datset:

In [22]:
pip install vaderSentiment

Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl.metadata (572 bytes)
Requirement already satisfied: requests in c:\users\ascc\appdata\local\programs\python\python313\lib\site-packages (from vaderSentiment) (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\ascc\appdata\local\programs\python\python313\lib\site-packages (from requests->vaderSentiment) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ascc\appdata\local\programs\python\python313\lib\site-packages (from requests->vaderSentiment) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ascc\appdata\local\programs\python\python313\lib\site-packages (from requests->vaderSentiment) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ascc\appdata\local\programs\python\python313\lib\site-packages (from requests->vaderSentiment) (2025.6.15)
Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

# === Step 1: Load and clean news data ===
news_df = pd.read_csv("dataset/News/news_currencies_source_joinedResult.csv")  # Replace with actual file path

# Keep only needed columns
news_df = news_df[['newsDatetime', 'title', 'description', 'currencies']]

# Drop rows with no title or no coin information
news_df.dropna(subset=['title', 'currencies'], inplace=True)

# Fill missing descriptions
news_df['description'] = news_df['description'].fillna('')

# Combine title and description into a new column
news_df['text'] = news_df['title'] + " " + news_df['description']

# Convert datetime and extract date only
news_df['date'] = pd.to_datetime(news_df['newsDatetime']).dt.date

In [4]:
analyzer = SentimentIntensityAnalyzer()
news_df['sentiment'] = news_df['text'].apply(lambda x: analyzer.polarity_scores(x)['compound'])

In [7]:
df_news["currencies"].value_counts()

currencies
BTC                                        3792
XRP                                        2613
ADA                                        2343
ETH                                        1726
SHIB                                       1663
                                           ...
BTC,ETH,BNB,XRP,BUSD,SOL,MATIC                1
BTC,ADA,SOL,MATIC                             1
BTC,ETH,BNB,ADA,AVAX,MATIC,LTC,LINK,XCN       1
BTC,ADA,MATIC,XLM                             1
BTC,TRUMP,S,SATS,DIA,TKO                      1
Name: count, Length: 21736, dtype: int64

In [8]:
# Helper function to filter and aggregate
def get_daily_sentiment(df, coin_symbol):
    df_coin = df[df['currencies'].str.contains(coin_symbol, na=False)].copy()
    daily_sentiment = df_coin.groupby('date')['sentiment'].mean().reset_index()
    daily_sentiment.columns = ['timestamp', 'sentiment']
    return daily_sentiment

# Generate sentiment per coin
btc_sentiment = get_daily_sentiment(news_df, 'BTC')
eth_sentiment = get_daily_sentiment(news_df, 'ETH')
bnb_sentiment = get_daily_sentiment(news_df, 'BNB')

In [9]:
btc_sentiment.to_csv("BTC_sentiment.csv", index=False)
eth_sentiment.to_csv("ETH_sentiment.csv", index=False)
bnb_sentiment.to_csv("BNB_sentiment.csv", index=False)

print("✅ Sentiment files saved")

✅ Sentiment files saved

In [10]:
btc_sentiment

       timestamp  sentiment
0     2017-09-29   0.457600
1     2017-10-31   0.129250
2     2017-11-12   0.750600
3     2017-11-13  -0.025800
4     2017-11-14   0.025800
...          ...        ...
1790  2025-05-20   0.247590
1791  2025-05-21   0.080754
1792  2025-05-22   0.086013
1793  2025-05-23   0.105100
1794  2025-05-24   0.016214

[1795 rows x 2 columns]

In [12]:
eth_sentiment

       timestamp  sentiment
0     2017-09-23   0.680800
1     2017-12-13   0.000000
2     2017-12-15  -0.031767
3     2017-12-16   0.421500
4     2017-12-19  -0.401900
...          ...        ...
1667  2025-05-20   0.261233
1668  2025-05-21   0.177279
1669  2025-05-22  -0.004812
1670  2025-05-23   0.104094
1671  2025-05-24  -0.025280

[1672 rows x 2 columns]

In [13]:
bnb_sentiment

       timestamp  sentiment
0     2018-11-27   0.680800
1     2019-01-25   0.000000
2     2019-01-30  -0.476700
3     2019-03-05  -0.493900
4     2019-03-14   0.000000
...          ...        ...
1031  2025-05-20   0.466867
1032  2025-05-21   0.187636
1033  2025-05-22   0.199950
1034  2025-05-23   0.066033
1035  2025-05-24   0.000000

[1036 rows x 2 columns]

### Merging the sentiment column into each coin dataset and saving the final cleaned files ready for model training.

In [15]:
# Example: Merge BTC sentiment into BTC price data
btc_df = pd.read_csv("BTC_cleaned.csv", parse_dates=['timestamp'])
btc_sentiment = pd.read_csv("BTC_sentiment.csv", parse_dates=['timestamp'])

# Merge (keep all price data, add sentiment if available)
btc_merged = pd.merge(btc_df, btc_sentiment, on='timestamp', how='left')

# Fill missing sentiment with 0 (or neutral)
btc_merged['sentiment'] = btc_merged['sentiment'].fillna(0)

In [25]:
btc_merged.to_csv("BTC_final.csv", index=False)

In [26]:
# Load cleaned ETH price data and ETH sentiment
eth_df = pd.read_csv("ETH_cleaned.csv", parse_dates=['timestamp'])
eth_sentiment = pd.read_csv("ETH_sentiment.csv", parse_dates=['timestamp'])

# Merge sentiment with ETH prices
eth_merged = pd.merge(eth_df, eth_sentiment, on='timestamp', how='left')

# Fill missing sentiment with neutral (0)
eth_merged['sentiment'] = eth_merged['sentiment'].fillna(0)

In [27]:
# Load cleaned BNB price data and BNB sentiment
bnb_df = pd.read_csv("BNB_cleaned.csv", parse_dates=['timestamp'])
bnb_sentiment = pd.read_csv("BNB_sentiment.csv", parse_dates=['timestamp'])

# Merge sentiment with BNB prices
bnb_merged = pd.merge(bnb_df, bnb_sentiment, on='timestamp', how='left')

# Fill missing sentiment with neutral (0)
bnb_merged['sentiment'] = bnb_merged['sentiment'].fillna(0)

In [28]:
eth_merged.to_csv("ETH_final.csv", index=False)
bnb_merged.to_csv("BNB_final.csv", index=False)

In [45]:
btc_merged

,timestamp,open,high,low,close,volume,marketCap,sentiment
0,2010-07-14,0.058157,0.061588,0.048647,0.056402,2.615400e+02,1.902596e+05,0.0
1,2010-07-15,0.056403,0.067954,0.053969,0.057568,4.458000e+02,1.959821e+05,0.0
2,2010-07-16,0.058001,0.072220,0.057484,0.066492,4.972500e+02,2.280474e+05,0.0
3,2010-07-17,0.066500,0.077735,0.057418,0.065993,1.999000e+01,2.269048e+05,0.0
4,2010-07-18,0.066088,0.080858,0.064221,0.078814,7.513000e+01,2.716692e+05,0.0
...,...,...,...,...,...,...,...,...
5469,2025-07-04,109635.655197,109751.987456,107296.380030,108034.339050,4.261644e+10,2.148181e+12,0.0
5470,2025-07-05,108015.839226,108381.340161,107842.275057,108231.181990,3.061554e+10,2.152515e+12,0.0
5471,2025-07-06,108231.183833,109731.625945,107847.017159,109232.069735,3.674602e+10,2.172541e+12,0.0
5472,2025-07-07,109235.327990,109710.249827,107527.057210,108299.851088,4.541570e+10,2.153955e+12,0.0
5473,2025-07-08,108298.228975,109198.971616,107499.556468,108950.275543,4.428220e+10,2.166970e+12,0.0